body{
    margin:0;
    padding:0;
    background: white;
}
 ul{
    list-style: none;
    background: black;
    text-align: center;
    padding: 0;

}
 li{
    display:inline-block;
    margin-left: 20px;
     margin-right: 30px;
    padding-right: 3px;
     padding-left: 1px;
     padding-top: 5px;
     padding-bottom: 5px;

}
li a{


}
.navbar a{
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    margin-right: 0px;
    

}

a:hover{
    background-color: red;
   color: black;
}
.navbar {
  overflow: hidden;
    margin-right: 50px;
    margin-top: 10px;
    width:100%;
}
.topnav a.active {
    background-color: #2196F3;
    color: white;
}
.topnav{
     margin-right: 50px;
    margin-bottom: 50px;
    width:100%;

}


 .logo,.container{
        margin-left: 280px;
        padding-top: 40px;  
    

}
.searchbar{
    float: right;
    background: red;
    transform: translate(-50%,-50%);
    height:40px;
    border-radius: 40px;
    padding: 5px;
    
}
.search-btn{
    color: #e84118;
    float: right;
    width:40px;
    height:40px;
    border-radius:60%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.search-txt{
    background: none;
    border: none;
    outline: none;
    float:left;
    padding: 0;
    color:white;
    font-size:16px;
    transition: 0.4s;
    line-height: 40px;
    width: 240px;
}

.homegallery {
    margin-left: 200px;
    border: 1px ;
    float: left;
    width: 200px;
}

.homegallery:hover {
    border: 1px;
}

.homegallery img {
    width: 190%;
    height: 70%;
}
.category{
    float: left;
    margin-left: 80px;
    
}
.gallery {
    margin: 20px;
    border: 1px ;
    float: left;
    width: 180px;
    margin-left: 100px;
}

.gallery:hover {
    border: 1px;
}

.gallery img {
    width: 110%;
    height: 250px;
}

.desc {
    padding: 10px;
    text-align: center;
}
